{% extends 'main/main_base.html' %}

{% block title %}
    <title>Курсы</title>
{% endblock %}

{% block nav_course %}
    <a class="nav_elem_btn" data-bs-toggle="collapse" href="#nav_subjects" role="button"
       aria-expanded="true" aria-controls="nav_subjects">Курсы</a>
    <ul class="nav_subjects collapse show" id="nav_subjects">
        {% for subject in request.user.subjects.all %}
            <li class="nav_elem {% if page_subject == subject %} active_elem {% endif %}">
                <a href="{{ subject.get_url_on_course }}">{{ subject }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

{% block main_content %}
    <div class="row pt-2 ms-2 content__course_name">
        <div class="col-auto">
            <h5>{{ page_subject.name }}</h5>
        </div>
    </div>
    <div class="row content__video_list">
        {% for video in videos %}
            <div class="col-auto col-md-6 col-lg-4 video_holder">
                <iframe src="{{ video.url }}"
                        class="my-3 video"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
            </div>
        {% endfor %}
    </div>
{% endblock %}