{% extends 'main/main_base.html' %}

{% block title %}
    <title>Домашние задания</title>
{% endblock %}

{% block nav_homework %}
    <a class="nav_elem_btn" data-bs-toggle="collapse" href="#nav_homework" role="button"
       aria-expanded="true" aria-controls="nav_homework">Домашнее задание</a>
    <ul class="nav_homework collapse show" id="nav_homework">
        {% for subject in request.user.subjects.all %}
            <li class="nav_elem {% if page_subject == subject %} active_elem {% endif %}">
                <a href="{{ subject.get_url_on_homework }}">{{ subject }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

{% block main_content %}
    <div class="test row align-items-center justify-content-between">
        <div class="col-7 col-sm-6 text-center">
            Тема
        </div>
        <div class="col-1">
            Баллы
        </div>
        <div class="col-2 text-center">
            Статус
        </div>
    </div>
    {% for test in tests %}
        <div class="row align-items-center justify-content-between shadow test test-border">
            <div class="col-7 col-sm-6 test_name_holder">
                <a href="{{ test.get_absolute_url }}" class="test_link">
                    <div class="test_num">
                        {{ test.name }}
                    </div>
                    <div class="test_name">
                        {{ test.theme }}
                    </div>
                </a>
            </div>
            <div class="col-1 test_source">
                0/{{ test.get_test_source }}
            </div>
            <div class="col-2 text-center test_is_finished">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-clock"
                     viewBox="0 0 16 16">
                    <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"></path>
                    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"></path>
                </svg>
            </div>
        </div>
    {% endfor %}
    {% for test in tests_done %}
        <div class="row align-items-center justify-content-between shadow test test-border">
            <div class="col-7 col-sm-6 test_name_holder">
                <div class="test_link">
                    <div class="test_num">
                        {{ test.test.name }}
                    </div>
                    <div class="test_name">
                        {{ test.test.theme }}
                    </div>
                </div>
            </div>
            <div class="col-1 test_source">
                {{ test.primary_source }}/{{ test.test.get_test_source }}
            </div>
            <div class="col-2 text-center test_is_finished">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-check2"
                     viewBox="0 0 16 16">
                    <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                </svg>
            </div>
        </div>
    {% endfor %}
{% endblock %}