<!DOCTYPE html>

{% load static %}

<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/auth2.css' %}">
    <title>Регистрация</title>
</head>
<body>
<header class="header">
    <div class="container">
        <div class="row justify-content-around align-items-center header__inner">
            <div class="col-md-3 header__logo"></div>
            <div class="col-auto col-md-auto header__text">
                Онлайн школа ЕГЭ и ОГЭ
            </div>
            <div class="col-auto col-md-3 header__login">
                <a class="btn btn-outline-primary login_btn" href="{% url 'registration' %}">
                    Регистрация
                </a>
            </div>
        </div>
    </div>
</header>
<div class="main">
    <div class="container-xxl">
        <div class="main__inner">
            <div class="row justify-content-center intro">
                <div class="col intro__text">
                    <p>Экзамены на сотку.</p>
                    <p>Возможности на сотку.</p>
                    <p>Жизнь на сотку.</p>
                </div>
            </div>
            <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
                <div class="row justify-content-center auth">
                    <div class="col-md-5 col-lg-4 auth__params">
                            <div class="row text-center auth__error">
                                <p class="m-0">{{ form.email.errors }}</p>
                            </div>
                            <div class="row mb-2 param">
                                <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
                                {{ form.email }}
                            </div>
                            <div class="row mb-2 param">
                                <label for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
                                {{ form.password }}
                            </div>
                            <div class="mt-4 text-center">
                                <button type="submit" class="btn btn-outline-primary auth_btn">
                                    Войти
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
</body>
</html>



