{% extends 'main/auth_base.html' %}

{% block title %}
    <title>Регистрация</title>
{% endblock %}

{% block auth_button %}
    <a class="btn btn-outline-primary login_btn" href="{% url 'login' %}">
        Войти
    </a>
{% endblock %}

{% block auth_form %}
    <form action="{% url 'registration' %}" method="post">
        {% csrf_token %}
        <div class="row justify-content-center auth">
            <div class="col-7 col-sm-auto col-md-auto me-3 auth__subjects">
                <div class="auth__error">
                    {% for error in form.subjects.errors %}
                        {{ error | escape }}
                    {% endfor %}
                </div>
                {% for subject in form.subjects %}
                    <div class="form-check">
                        {{ subject }}
                    </div>
                {% endfor %}
            </div>
            <div class=" col-md-5 col-lg-4 auth__params">
                {% for field in form %}
                    {% if field.name != 'subjects' %}
                        <div class="row justify-content-center">
                            <div class="col p-0 mb-2 param">
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                {{ field }}
                                {% for error in field.errors %}
                                    <div class="row text-center auth__error">
                                        <p class="m-0">{{ error | escape }}</p>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                <div class="mt-2 text-center">
                    <button type="submit" class="btn btn-outline-primary auth_btn">
                        Зарегистрироваться
                    </button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}


