{% extends 'main/main_base.html' %}

{% block title %}
    <title>Расписание</title>
{% endblock %}

{% block main_content %}
    <div class="row">
        <div class="col schedule_handler py-2">
            <img class="schedule_img" src="{{ schedule.image.url }}" alt="Schedule">
        </div>
    </div>
    {% if request.user.role == 'teacher' %}
        <div class="row justify-content-center">
            <div class="col-auto">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-secondary my-2" data-bs-toggle="modal"
                        data-bs-target="#modalForm">
                    Загрузить новое расписание
                </button>

                <!-- Modal -->
                <div class="modal fade" id="modalForm" data-bs-backdrop="static"
                     data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalForm"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <form method="post" action="{% url 'schedule' %}" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="modal-header">
                                    <h5 class="modal-title" id="staticBackdropLabel">Загрузка нового
                                        расписания</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    {{ form.image }}
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                        Закрыть
                                    </button>
                                    <button type="submit" class="btn btn-primary">Загрузить</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    {% endif %}
{% endblock %}