{% extends 'main/main_base.html' %}

{% block title %}
    <title>{{ form.test.name }}</title>
{% endblock %}

{% block main_content %}
    <div class="heading text-center m-3">
        <h3>{{ form.test.name }}</h3>
        <h5>{{ form.test.theme }}</h5>
    </div>

    <form method="post">
        {% csrf_token %}

        {% for field in form %}
            <div class="row test_elem py-4">
                <div class="col">
                    <div class="question_num">
                        <h5><strong>{{ field.label }}</strong></h5>
                    </div>
                    <div class="question_text">
                        <p>{{ field.field.text | linebreaks }}</p>
                    </div>

                    {% if field.field.image_url %}
                        <div class="row justify-content-center mb-3">
                            <div class="col-9 col-sm-7">
                                <img src="{{ field.field.image_url }}"
                                     class="rounded mx-auto d-block mw-100"
                                     alt="">
                            </div>
                        </div>
                    {% endif %}
                    <div class="row">
                        <label for="{{ field.id_for_label }}"
                               class="col-auto col-form-label">Ответ:</label>
                        <div class="col-9 mx-1">
                            {{ field }}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="row justify-content-center mb-4">
            <div class="col-auto">
                <button type="submit" class="btn btn-primary">Завершить тест</button>
            </div>
        </div>
    </form>
{% endblock %}