@font-face {
    font-family: 'Graphik LCG';
    src: local('GraphikLCG'), local('Graphik-LCG'),
    url('../fonts/GraphikLCG/GraphikLCG-Light.woff2') format('woff2'),
    url('../fonts/GraphikLCG/GraphikLCG-Light.woff') format('woff'),
    url('../fonts/GraphikLCG/GraphikLCG-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

body {
    margin: 0;

    font-family: GraphikLCG, Arial, sans-serif;
}

*, *:after, *:before {
    box-sizing: border-box;
}

.btn {
    border-radius: 2px;
    border-width: 2px;

    font-weight: bold;
    font-size: 1rem;
}

.header__inner {
    padding: 1.2rem 0;
}

.header__text {
    font-size: 1.2rem;
}

.login_btn {
    padding: .4rem 1.8rem;;
}

.main__inner {
    background: url("/static/img/auth_right.png") right no-repeat,
                url("/static/img/auth_left.png") left  no-repeat;
    background-size: 18.75rem;
}

.container-fluid {
    max-width: 2500px;
}

.intro__text p {
    margin: 0;

    text-align: center;
    font-weight: 600;
    text-transform: lowercase;
    font-size: 3.5rem;
    line-height: 1.05;

    color: #151515;
}

.auth {
    margin: 1rem auto;
}

.auth__error {
    text-align: center;
    font-size: 0.8rem;
    color: red;
}

.auth__params {
    max-width: 18.75rem;
}

.auth__params label {
    font-size: .9rem;
}

.auth__params .form-control {
    height: 2.2rem;

    border: 1px solid black;
    border-radius: 20px;

    padding: 0 .8rem;
    margin: 0.3rem 0;
}

.auth_btn {
    padding: .4rem .5rem;;
}

@media screen and (min-width: 1440px) {
    html {
        font-size: 120%;
    }
}

@media screen and (min-width: 1680px) {
    html {
        font-size: 140%;
    }
}

@media screen and (min-width: 1920px) {
    html {
        font-size: 180%;
    }
}

@media screen and (max-width: 780px) {
    .intro__text p {
        font-size: 2.5rem;
    }

    .main__inner {
        background: none;
    }
}

@media screen and (max-width: 500px) {
    .intro__text {
        margin: 1rem 0;
    }
    .intro__text p {
        font-size: 2rem;
        font-weight: initial;
    }
    .auth__subjects {
        margin: 1rem 0;
    }
}